
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {  
    /*background-color: #F0F0ED;*/
    background-color: #B8B8B8;
    background: url('../img/background.png') repeat;
    font-family: 'Droid Sans', Helvetica, Helvetica Neue, Arial, sans-serif !important;
}

h1 {
    font-size: 40px !important;
    font-weight: normal;
    margin-bottom: 30px;
    letter-spacing: -0.03em;
    line-height: 40px;
    text-align: center;
 }

h2 {
    letter-spacing: -1px;
    line-height: 30px;
    text-align: center;
    color: #59913D;
}

#logo-container {
    position: relative;
}

.logo{
    font-size: 48px;
    text-align: center;
    margin: 30px 70px;
    font-family: 'Exo', sans-serif;
    color: rgb(186, 225, 51);
    letter-spacing: -4px;
    /*text-shadow: 0 2px 5px black;*/
    text-shadow: 0 5px 4px black;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=180);
    line-height: 60px;
    border: 1px black;
    clear: right;
    text-decoration: none;
    display: block;
}

.logo:hover, #language-selector img:hover {
    text-shadow: 0 7px 17px black;
}

#language-selector{
    position: absolute;
    right: 0;    
    top: 120px;
}

#language-selector li{
    list-style: none;
    display: inline;
}

 #myname {
    color: #F7DE33;
}

#mysurname {
    color: #A1D84E;
    margin: 0 -3px;
}

.dotcom {
    color: #FF2F58;
}

#main-aside {
    margin: 0;
    color: black;
    border-top: none;
    float: left;
    background: inherit;
    padding: 20px 0;
    width: 100%;
}

.wrapper {
    max-width: 738px;
    margin: auto;
}

.main {
    /*padding: 30px 20px !important;*/
}

.main article {
    background: #f2f5f7 url(custom-theme/images/ui-bg_highlight-hard_100_f2f5f7_1x100.png) 50% top repeat-x; 
    border: 1px solid #c6d2dd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 15px; 
    border-radius: 2px;
    position: relative;
}

.main article:before{
    content: url('../img/paperclip.png');
    position: absolute;
    top: -30px;
    left: -30px;
}

.main article p {
    color: #333;
}

a{    
    text-decoration: none;
    color: #40668C;
}

nav#main-nav {
    padding-bottom: 70px;
}

nav#main-nav a{
    display: none;
}

nav#main-nav a.show-hide-nav {
    display: inline;
}

nav {  
    text-transform: uppercase;
    font: 22px 'Oswald', sans-serif;
    margin-top: 25px;
    width: 100%;
}

nav a {    
    width:100%;
    float: left;
    margin: 0 0 3px 0;
    background: #F2F5F7 url(custom-theme/images/ui-bg_highlight-hard_100_f2f5f7_1x100.png) 50% top repeat-x;
    color: #1A2333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
/*    border-left: 1px solid;
    border-top: 1px solid;
    border-right: 1px solid;*/
}

nav a:visited {
    color: #1A2333;
    border-color: black;
}

nav a.selected{
    color: #F3F3F3;
    background: #5C5C5C;
}

nav a:hover{
    color: rgb(247,222,51);
    background: #686868;
    text-decoration: none;
}

nav .main-nav-link
{
    position: relative;
    margin-left: 64px;
}

nav .main-nav-link:before
{
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -64px;
    margin-top: -5px;
}
nav .main-nav-link.home-icon:before
{
    content: url("../img/icons/home48.png");
}
nav .main-nav-link.news-icon:before
{
    content: url("../img/icons/news48.png");
}
nav .main-nav-link.skills-icon:before
{
    content: url("../img/icons/write48.png");
}
nav .main-nav-link.cv-icon:before
{
    content: url("../img/icons/calendar48.png");
}
nav .main-nav-link.contact-icon:before
{
    content: url("../img/icons/contact48.png");
}

 .header-container {
    background: #40668C;
    border-bottom: 20px solid #5C5C5C;
    box-shadow: 0 3px 3px black;
 }
 .footer-container {
    background: #40668C;
    border-top: 20px solid #5C5C5C;
    box-shadow: 0 -3px 3px black;
    text-align: center;
 }
 ul#footer-nav{
    display: inline-block;
    margin-top: 20px;
    padding-left: 0;
    display: block;
 }

 ul#footer-nav li{
    list-style: none;
    display: inline;
    padding-right: 20px;
 }

 ul#footer-nav li:last-child{
    padding-right: 0;
 }

 ul#footer-nav a{
    color: white;
 }
 ul#footer-nav a.selected{
    font-weight: bold;
 }

 ul#footer-nav a:hover{
    color: #F7DE33;
 }

 aside ul {    
    list-style: none;
    padding-left: 0;
    margin: 10px 0 0;
 }

 aside .menu {
    background: white;
 }

 .expandible{
    overflow: hidden;
    width: auto !important;
    margin-right: 0 !important;
 }
 .expandible:before{
    width: 100% !important;
 }

 .menu a, .small-menu a, .mid-menu a, .big-menu a, article a {
    color: #40668C;
    text-decoration: none;
 }

 .menu a:hover, .small-menu a:hover, .mid-menu a:hover, .big-menu a:hover, article a:hover {
    border-bottom: 1px dashed #CCCCCC;
 }

 .menu p, .small-menu p, .mid-menu p, .big-menu p{
    margin-bottom: 0;
 }

 .menu, .small-menu, .mid-menu, .big-menu {
    position: relative;
    background: #F2F5F7 url(custom-theme/images/ui-bg_highlight-hard_100_f2f5f7_1x100.png) 50% top repeat-x;
    padding: 30px 10px 10px 10px;
    font-size: 12px;
    margin: 0 20px 15px 0;
    float: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #C1CDDA;
 }
 .menu:before,
 .small-menu:before, 
 .mid-menu:before,
 .big-menu:before {
    position: absolute;
    content: attr(title);
    background: #40668C;
    font-size: 11px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    padding: 1px 10px 0;
    color: white; 
 }

 [data-color="gray"]
 .menu:before,
 .small-menu:before, 
 .mid-menu:before,
 .big-menu:before {
    background: #5C5C5C;

 }

 .small-menu, 
 .small-menu:before,
 .div-article-small-aside .menu,
 .div-article-small-aside .menu:before  {
    width: 96px;
 }

 .mid-menu, 
 .mid-menu:before,
 .div-article-mid-aside .menu,
 .div-article-mid-aside .menu:before   {
    width: 124px;
 }

 .big-menu, 
 .big-menu:before,
 .div-article-big-aside .menu,
 .div-article-big-aside .menu:before   {
    width: 152px;
 }


 .expandido {
    margin-right: 0 !important;
    width: auto !important;
    overflow: hidden;
 }
 .expandido:before {
    width: 100%;
 }


 .hide {
    display: none;
 }

 .gallery-container{
    width: 62%;
    float: left;
 }

 .image-mini-container { 
    float: left;
    margin: 3px;
 }

 .image-mini-container img {
    height: 60px;
    width: 90px;
 }
 .bloque-50 {
    float: left;
    width: 50%;
 }

 .accordion-header {
    font-size: 12px;
    /*font-family: Helvetica, sans-serif;*/
 }
 .accordion-header .when {
    float: left;
    min-width: 54px;
    margin-right: 5px;
    margin-top: 4px;
    font-size: 11px;
 }
 .accordion-header .when strong {
    color: #5C5C5C;
 }
 .accordion-header .what {
    display: inline-block;
    font-size: 14px;
    margin-right: 3px;
    margin-top: -2px;
    color: black;
 }
 .accordion-header .where {
    margin-top: -1px;
 }
 .accordion-header .level {
    display: inline-block;
 }

 .pdf-doc-icon:before,
 .word-doc-icon:before,
 .pic-doc-icon:before,
 .link-icon:before,
 .low-level-icon:before,
 .medium-level-icon:before,
 .high-level-icon:before {
    margin-right: 5px;
    margin-top: 2px;
}

 .pdf-doc-icon:before{
    content: url('icons/pdf16.png');
 }

 .word-doc-icon:before{
    content: url('icons/word16.png'); 
 }

 .pic-doc-icon:before{
    content: url('icons/pic16.png');
 }

 .link-icon:before {
    content: url('icons/link16.png');    
 }

 .high-level {
    color: green;
 }
 .high-level-icon:before{
    content: url('icons/full16.png');
 }
 .medium-level {
    color: #BE7B02;
 }
 .medium-level-icon:before{
    content: url('icons/medium16.png');
 }
 .low-level {
    color: #686868;
 }
 .low-level-icon:before{
    content: url('icons/low16.png');
 }
 .right-detail {
    float: right;
    text-align: right;
    color: black;
    margin-left: 5px;
    margin-right: 1%;
 }
 .accordion-header-icon {
    border-width: 1px;
    border-color: lightblue;
    border-style: solid;
    background-color: white;
    height: 0;
    display: none;
 }

 .accordion .ui-widget-content a{
    color: #40668C !important;
 }

 .accordion .ui-accordion-header-active .when strong,
 .accordion .ui-accordion-header-active .what,
 .accordion .ui-accordion-header-active .level
 {
    color: rgb(247,222,51);
 }

 .accordion section {
    margin: auto -10px;
 }

.accordion .inner{
    position: relative;
    font-size: 12px;
    font-family: tahoma,Helvetica,arial,sans-serif;
    padding: 0px;   
    /*background: #F8FCE5;*/
    background: white;
    color: #555555;
}

.accordion .inner-left ,
.accordion .inner-full{
    padding: 15px 25px;
}

.accordion .inner-left {    
    float: left;
}

.accordion aside {
    float: right;
    border-top: 0px;
    padding: 5px 25px;
    /*color: rgb(186,225,51);*/
    color: black;
    /*background-color: rgb(225,242,168);*/
    /*font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;*/
    /*font-family: Helvetica Neue, Arial;*/
    display: block;
    /*border-top: 1px solid #dddddd; */
    background: inherit;
    /*background: #f9fafb url(custom-theme/images/ui-bg_highlight-hard_100_f9fafb_1x100.png) 50% top repeat-x;*/
    box-shadow: none;
}


.accordion .inner-left ul,
.accordion .inner-full ul {
    padding-left: 15px;
}
.accordion .inner-left li,
.accordion .inner-full li {
    margin-bottom: 0.5em;
}

.accordion aside ul {
    margin: 0px;
    padding: 0px;
}

.accordion aside li {
    margin-bottom: 8px;
}

.accordion aside li:last-child {
    border-width: 0px;
}

.tech-cloud a{
    margin: 1px;
}

.center {
    text-align: center;
}

.tech-level-1 {
    font-size: 1.6em;
}
.tech-level-2 {
    font-size: 1.4em;    
}
.tech-level-3 {
    font-size: 1.2em;    
}
.tech-level-4 {
    font-size: 1em;    
}
.tech-level-5 {
    font-size: 0.8em;    
}

/**** TOOLTIPS ******/
.tooltip:hover { 
    text-decoration:none;
} 

.tooltip span {
    display:none; 
    margin:0 0 0 10px; 
    padding:5px 5px; 
} 

.tooltip:hover span {
    display:inline; 
    position:absolute; 
    border:1px solid #cccccc; 
    background-color: rgb(247, 222, 51);
    color:#666666; 
}

.news {
    background: white;
    padding: 0 20px 5px 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 1px solid #C1CDDA;
    position: relative;
    min-height: 112px;
}
.news .news-date {
    padding: 10px 20px;
    margin-left: -20px;
    margin-bottom: 20px;
    width: 100%;
    color: grey;
    background: #40668C;
    float: left;
    border-right: 1px solid #C1CDDA;
    text-align: center;
    line-height: 30px;
}

.news-date .news-date-weekday {
    font-size: 1.2em;
    color: #C2C2C2;
    margin-right: 5px;
}
.news-date .news-date-day {
    font-size: 2.3em;
    color: white;
}
.news-date .news-date-month {
    font-size: 1.2em;
    color: #F7DE33;
}
.news-date .news-date-year {
    font-size: 1.5em;
    color: #C2C2C2;
    margin-left: 5px;
}

.news .news-content {
    margin-top: 80px;
    margin-left: auto;
    color: grey;
}

.news .thumbnail {
    /*border: 1px gray solid;*/
    width: 50px;
    float: left;
    margin-right: 15px;
    display: none;
}

.news hgroup{
    margin-left: 75px;
}

.news .news-title {
    font-size: 1.3em;
    margin-bottom: 20px;
}


.news p {
    font-size: 0.9em;
    text-align: justify;
}


#contact p { line-height: 1.3em; margin-bottom: 15px; }

#contact .formblock { display: block; margin-bottom: 11px; }
#contact .formblock label { display: block; font-style: italic; font-weight: normal; color: #232323; color: #5f6d7a; }

#contact .formblock .txt { padding: 4px 6px; font-size: 1.4em;color: #666; width: 96.4%; }
#contact .formblock .txtarea { font-size: 1.4em; padding: 3px 5px; color: #666; width: 97%; height: 140px; }

#contact .formblock .error { font-weight: bold; font-size: 1.1em; font-style: normal;; color: #9d3131; }
#contact .info { font-weight: bold; font-size: 1.2em; color: #59913d; margin-bottom: 10px; }
#contact .alert { font-weight: bold; font-size: 1.2em; color: black; margin-bottom: 10px; }

#contact .subbutton { padding: 3px 7px; font-weight: bold; color: #565656; }

/*****************/
@media only screen and (min-width: 380px) {    
    .accordion-header .level {
        position: absolute;
        right: 20px;
    }

    #language-selector {
        top: 0px;
    }
}

@media only screen and (min-width: 480px) {

    nav#main-nav {
        padding-bottom: 0;
    }

    nav#main-nav a{
        display: inline;
    }

    nav#main-nav a.show-hide-nav {
        display: none;
    }

    nav a {
        width:18.9%;
        margin: 0 0.6%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        position: relative;
        padding: 45px 0 10px;
    }

    nav .main-nav-link {
        margin-left: auto;
        position: static;
        font-size: 18px;
    }

    nav .main-nav-link:before {
        left: auto;
        position: absolute;
        width: 32px;
        height: 32px;
        left: 50%;
        margin-left: -16px;
        top: 18px;
    }

    nav .main-nav-link.home-icon:before
    {
        content: url("../img/icons/home32.png");
    }
    nav .main-nav-link.news-icon:before
    {
        content: url("../img/icons/news32.png");
    }
    nav .main-nav-link.skills-icon:before
    {
        content: url("../img/icons/write32.png");
    }
    nav .main-nav-link.cv-icon:before
    {
        content: url("../img/icons/calendar32.png");
    }
    nav .main-nav-link.contact-icon:before
    {
        content: url("../img/icons/contact32.png");
    }

    .accordion .inner-left {
        padding-right: 160px; /*150 + 10 padding*/
    }
    .accordion .inner-left ul {
        padding-left: 30px;
    }
    .accordion aside {
        /*padding: 19px 15px;*/
        padding: 30px 0 0 0;
        width: 150px;
        border-top: 0px; 
        /*border-left: 1px solid #dddddd; */
        margin-left: -155px;
    }

    .accordion-header .when{
        margin-top: 2px;
    }

    .accordion-header .when .from{
        float: left;
    }

    .accordion-header .when.year-month .from,
    .accordion-header .when.year-month .to{
        min-width: 54px;
    }
    .accordion-header .when.year .from,
    .accordion-header .when.year .to{
        min-width: 30px;
    }

    .div-article-small-aside .menu.expandible, 
    .div-article-small-aside .menu.expandible:before, 
    .small-menu.expandible, 
    .small-menu.expandible:before {
        width: 96px !important;
    }

    .div-article-mid-aside .menu.expandible, 
    .div-article-mid-aside .menu.expandible:before, 
    .mid-menu.expandible, 
    .mid-menu.expandible:before {
        width: 124px !important;
    }

    .div-article-big-aside .menu.expandible, 
    .div-article-big-aside .menu.expandible:before, 
    .big-menu.expandible, 
    .big-menu.expandible:before {
        width: 152px !important;
    }

    #current-info strong{
        float: right;
    }

    .news {
        padding: 20px 10px;
    }

    .news .news-date {
        position: absolute;
        left:0;
        top:0;
        right: 0;
        width: 80px;
        bottom: 0;
        right: auto;
        padding: 20px 10px;
        margin-left: auto;
        margin-bottom: 0;
    }

    .news .news-date .news-date-weekday,
    .news .news-date .news-date-year{
        display: block;
    }
    .news .news-content {
        margin-left: 110px;
        margin-top: auto;
    }
}   

@media only screen and (min-width: 532px) {

    h1, h2 {
        text-align: left;
    }
    h1.article-image:after
    {
        background-repeat: no-repeat;
        width: 128px;
        height: 128px;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    h1.article-image.home-icon:after
    {
        content: url("../img/icons/home128.png");
    }
    h1.article-image.news-icon:after
    {
        content: url("../img/icons/news128.png");
    }
    h1.article-image.skills-icon:after
    {
        content: url("../img/icons/write128.png");
    }
    h1.article-image.cv-icon:after
    {
        content: url("../img/icons/calendar128.png");
    }
    h1.article-image.contact-icon:after
    {
        content: url("../img/icons/contact128.png");
    }

    .main article {
        padding: 30px 30px; 
        position: relative;
    }

    .accordion section {
        margin: auto;
    }
    .article-image {
        margin-right: auto;
    }
}
@media only screen and (min-width: 768px) {

    .main article {
        float: none;
    }

    nav .main-nav-link{           
        font-size: 22px;
    }

    .div-article-small-aside article {
        margin-right: 135px;
    }

    .div-article-mid-aside article {
        margin-right: 163px;    }        


    .div-article-big-aside article {
        margin-right: 191px;        
    }

    .wrapper {
        position: relative;
    }

    .accordion-header-icon {
        height: 14px;
        display: inline;
    }

    #main-aside {
        float: right;
        margin: 0 0 15px 15px;
        position: absolute;
        top: 30px;
        right: 0px; 
        padding: 0;
    }

    .div-article-small-aside #main-aside{
        width: 120px;
    }

    .div-article-mid-aside #main-aside{
        width: 147px;
    }

    .div-article-big-aside #main-aside{
        width: 174px;
    }

    .menu .small-menu, .mid-menu, .big-menu {
        margin-right: 0px;
    }

    .footer-container{
        text-align: left;
    }

    ul#footer-nav{
        position: absolute;
        right: 0;
        margin-top: -26px;
    }

}
@media only screen and (min-width: 1024px) {
    /*
    .logo {
        float: left;
        margin-bottom: 0px;
        margin-top: 55px;
    }

    nav {
        float: right;
        width: 505px;
    }

    nav a{
        width: 95px;
    }
    nav .main-nav-link{           
        font-size: 18px;
    }
    */
}   