/* common */

@import "https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap";

body {
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.65) !important;
}
body {
    background-color: #935d8c;
    background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #e37682 15%, #f6e8e5 85%);
    background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #e37682 15%, #f6e8e5 85%);
    background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #f6e8e5 85%);
    background-image: url("images/overlay.png"), linear-gradient(45deg, #e37682 15%, #f6e8e5 85%);
}


h1, b, strong, header a:hover {
    font-weight: 600;
    color: #000 !important;
}

h2, h3 {
    font-weight: 500;
}

/* disable animation on loading for header */
body.is-loading #header.alt > * {
    opacity: 1 !important;
}

.spotlight .image {
    background: white;
}

.spotlight .image img {
    height: 16em;
}

.spotlight ul {
    list-style-type: none;
    text-align: left;
}

header.major, footer.major {
    text-align: center;
} 

header.major h2 {
    line-height: 3em;
}

header.major h2::after{
    margin: auto;
}

header.major h2 .icon.alt{
    margin-right: 0.5em;
}

#footer .icons {
    width: 100%;
    text-align: center;
    margin: 0;
}

#footer .copyright {
    color: #fff;
}

.button.icon:before {
    margin-right: 1.5em;
}

.button.icon span.icon {
    margin-left: 1.5em;
}

.statistics a{
    text-decoration: none;
}

@media screen and (max-width: 835px) {
    #nav ul li {
        margin: 0;
    }
    #nav ul li a {
        padding: 0 1.15em;
    }
}

@media screen and (max-width: 736px) {
    .hide-small {
        display: none;
    }

    .spotlight .image img {
        height: 12em;
    }

    footer.major {
        margin-top: 1em !important;
    }
}

@media screen and (max-width: 480px) {
    .hide-xsmall {
        display: none;
    }
}

/* linkedin */

#linkedin section { 
    white-space: pre-line; 
}

/* instagram */

#instagram .image {
    position: relative;
}

#instagram .image-wrapper{    
    color: #FFF;
}

#instagram .image .instagram-image{
    background-color: #000;
    border-radius: 8px;
}

#instagram .image img:hover{
    opacity: 0.4;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#instagram .icon-instagram{    
    display: inline-block;
    background-size: 100% 100%;
    margin-right: 10px;
    position: relative;
    width: 15px;
    height: 15px;
}

#instagram .instagram-logo {
    position: absolute;
    top: 20px;
    left: 30px;
}

#instagram .icon-instagram-feed {
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2227px%22%20height%3D%2227px%22%20viewBox%3D%220%200%2027%2027%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%20%20%20%20%3Ctitle%3E%EF%85%AD%402x%3C%2Ftitle%3E%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Style-Sheet%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Style-Guide%22%20transform%3D%22translate%28-173.000000%2C%20-11057.000000%29%22%20fill%3D%22%23FFFFFF%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-7%22%20transform%3D%22translate%28133.000000%2C%2011015.000000%29%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M58%2C55.5%20C58%2C54.2578063%2057.5605513%2C53.19727%2056.6816406%2C52.3183594%20C55.80273%2C51.4394487%2054.7421937%2C51%2053.5%2C51%20C52.2578063%2C51%2051.19727%2C51.4394487%2050.3183594%2C52.3183594%20C49.4394487%2C53.19727%2049%2C54.2578063%2049%2C55.5%20C49%2C56.7421937%2049.4394487%2C57.80273%2050.3183594%2C58.6816406%20C51.19727%2C59.5605513%2052.2578063%2C60%2053.5%2C60%20C54.7421937%2C60%2055.80273%2C59.5605513%2056.6816406%2C58.6816406%20C57.5605513%2C57.80273%2058%2C56.7421937%2058%2C55.5%20Z%20M60.4257813%2C55.5%20C60.4257813%2C57.4218846%2059.7519599%2C59.0566339%2058.4042969%2C60.4042969%20C57.0566339%2C61.7519599%2055.4218846%2C62.4257812%2053.5%2C62.4257812%20C51.5781154%2C62.4257812%2049.9433661%2C61.7519599%2048.5957031%2C60.4042969%20C47.2480401%2C59.0566339%2046.5742188%2C57.4218846%2046.5742188%2C55.5%20C46.5742188%2C53.5781154%2047.2480401%2C51.9433661%2048.5957031%2C50.5957031%20C49.9433661%2C49.2480401%2051.5781154%2C48.5742187%2053.5%2C48.5742187%20C55.4218846%2C48.5742187%2057.0566339%2C49.2480401%2058.4042969%2C50.5957031%20C59.7519599%2C51.9433661%2060.4257813%2C53.5781154%2060.4257813%2C55.5%20Z%20M62.3242188%2C48.2929688%20C62.3242188%2C48.7382835%2062.1660172%2C49.119139%2061.8496094%2C49.4355469%20C61.5332015%2C49.7519547%2061.152346%2C49.9101562%2060.7070313%2C49.9101562%20C60.2617165%2C49.9101562%2059.880861%2C49.7519547%2059.5644531%2C49.4355469%20C59.2480453%2C49.119139%2059.0898438%2C48.7382835%2059.0898438%2C48.2929688%20C59.0898438%2C47.847654%2059.2480453%2C47.4667985%2059.5644531%2C47.1503906%20C59.880861%2C46.8339828%2060.2617165%2C46.6757812%2060.7070313%2C46.6757812%20C61.152346%2C46.6757812%2061.5332015%2C46.8339828%2061.8496094%2C47.1503906%20C62.1660172%2C47.4667985%2062.3242188%2C47.847654%2062.3242188%2C48.2929688%20Z%20M53.5%2C44.4257813%20C53.4179683%2C44.4257813%2052.9697306%2C44.4228516%2052.1552734%2C44.4169922%20C51.3408162%2C44.4111328%2050.7226584%2C44.4111328%2050.3007812%2C44.4169922%20C49.8789041%2C44.4228516%2049.3134801%2C44.4404295%2048.6044922%2C44.4697266%20C47.8955043%2C44.4990236%2047.2919947%2C44.5576167%2046.7939453%2C44.6455078%20C46.2958959%2C44.7333989%2045.8769548%2C44.8417962%2045.5371094%2C44.9707031%20C44.9511689%2C45.2050793%2044.4355491%2C45.5449196%2043.9902344%2C45.9902344%20C43.5449196%2C46.4355491%2043.2050793%2C46.9511689%2042.9707031%2C47.5371094%20C42.8417962%2C47.8769548%2042.7333989%2C48.2958959%2042.6455078%2C48.7939453%20C42.5576167%2C49.2919947%2042.4990236%2C49.8955043%2042.4697266%2C50.6044922%20C42.4404295%2C51.3134801%2042.4228516%2C51.8789041%2042.4169922%2C52.3007813%20C42.4111328%2C52.7226584%2042.4111328%2C53.3408162%2042.4169922%2C54.1552734%20C42.4228516%2C54.9697306%2042.4257812%2C55.4179683%2042.4257812%2C55.5%20C42.4257812%2C55.5820317%2042.4228516%2C56.0302694%2042.4169922%2C56.8447266%20C42.4111328%2C57.6591838%2042.4111328%2C58.2773416%2042.4169922%2C58.6992188%20C42.4228516%2C59.1210959%2042.4404295%2C59.6865199%2042.4697266%2C60.3955078%20C42.4990236%2C61.1044957%2042.5576167%2C61.7080053%2042.6455078%2C62.2060547%20C42.7333989%2C62.7041041%2042.8417962%2C63.1230452%2042.9707031%2C63.4628906%20C43.2050793%2C64.0488311%2043.5449196%2C64.5644509%2043.9902344%2C65.0097656%20C44.4355491%2C65.4550804%2044.9511689%2C65.7949207%2045.5371094%2C66.0292969%20C45.8769548%2C66.1582038%2046.2958959%2C66.2666011%2046.7939453%2C66.3544922%20C47.2919947%2C66.4423833%2047.8955043%2C66.5009764%2048.6044922%2C66.5302734%20C49.3134801%2C66.5595705%2049.8789041%2C66.5771484%2050.3007812%2C66.5830078%20C50.7226584%2C66.5888672%2051.3408162%2C66.5888672%2052.1552734%2C66.5830078%20C52.9697306%2C66.5771484%2053.4179683%2C66.5742188%2053.5%2C66.5742188%20C53.5820317%2C66.5742188%2054.0302694%2C66.5771484%2054.8447266%2C66.5830078%20C55.6591838%2C66.5888672%2056.2773416%2C66.5888672%2056.6992187%2C66.5830078%20C57.1210959%2C66.5771484%2057.6865199%2C66.5595705%2058.3955078%2C66.5302734%20C59.1044957%2C66.5009764%2059.7080053%2C66.4423833%2060.2060547%2C66.3544922%20C60.7041041%2C66.2666011%2061.1230452%2C66.1582038%2061.4628906%2C66.0292969%20C62.0488311%2C65.7949207%2062.5644509%2C65.4550804%2063.0097656%2C65.0097656%20C63.4550804%2C64.5644509%2063.7949207%2C64.0488311%2064.0292969%2C63.4628906%20C64.1582038%2C63.1230452%2064.2666011%2C62.7041041%2064.3544922%2C62.2060547%20C64.4423833%2C61.7080053%2064.5009764%2C61.1044957%2064.5302734%2C60.3955078%20C64.5595705%2C59.6865199%2064.5771484%2C59.1210959%2064.5830078%2C58.6992188%20C64.5888672%2C58.2773416%2064.5888672%2C57.6591838%2064.5830078%2C56.8447266%20C64.5771484%2C56.0302694%2064.5742187%2C55.5820317%2064.5742187%2C55.5%20C64.5742187%2C55.4179683%2064.5771484%2C54.9697306%2064.5830078%2C54.1552734%20C64.5888672%2C53.3408162%2064.5888672%2C52.7226584%2064.5830078%2C52.3007813%20C64.5771484%2C51.8789041%2064.5595705%2C51.3134801%2064.5302734%2C50.6044922%20C64.5009764%2C49.8955043%2064.4423833%2C49.2919947%2064.3544922%2C48.7939453%20C64.2666011%2C48.2958959%2064.1582038%2C47.8769548%2064.0292969%2C47.5371094%20C63.7949207%2C46.9511689%2063.4550804%2C46.4355491%2063.0097656%2C45.9902344%20C62.5644509%2C45.5449196%2062.0488311%2C45.2050793%2061.4628906%2C44.9707031%20C61.1230452%2C44.8417962%2060.7041041%2C44.7333989%2060.2060547%2C44.6455078%20C59.7080053%2C44.5576167%2059.1044957%2C44.4990236%2058.3955078%2C44.4697266%20C57.6865199%2C44.4404295%2057.1210959%2C44.4228516%2056.6992187%2C44.4169922%20C56.2773416%2C44.4111328%2055.6591838%2C44.4111328%2054.8447266%2C44.4169922%20C54.0302694%2C44.4228516%2053.5820317%2C44.4257813%2053.5%2C44.4257813%20Z%20M67%2C55.5%20C67%2C58.1836072%2066.9707034%2C60.0410105%2066.9121094%2C61.0722656%20C66.7949213%2C63.5097778%2066.0683661%2C65.3964777%2064.7324219%2C66.7324219%20C63.3964777%2C68.0683661%2061.5097778%2C68.7949213%2059.0722656%2C68.9121094%20C58.0410105%2C68.9707034%2056.1836072%2C69%2053.5%2C69%20C50.8163928%2C69%2048.9589895%2C68.9707034%2047.9277344%2C68.9121094%20C45.4902222%2C68.7949213%2043.6035223%2C68.0683661%2042.2675781%2C66.7324219%20C40.9316339%2C65.3964777%2040.2050787%2C63.5097778%2040.0878906%2C61.0722656%20C40.0292966%2C60.0410105%2040%2C58.1836072%2040%2C55.5%20C40%2C52.8163928%2040.0292966%2C50.9589895%2040.0878906%2C49.9277344%20C40.2050787%2C47.4902222%2040.9316339%2C45.6035223%2042.2675781%2C44.2675781%20C43.6035223%2C42.9316339%2045.4902222%2C42.2050787%2047.9277344%2C42.0878906%20C48.9589895%2C42.0292966%2050.8163928%2C42%2053.5%2C42%20C56.1836072%2C42%2058.0410105%2C42.0292966%2059.0722656%2C42.0878906%20C61.5097778%2C42.2050787%2063.3964777%2C42.9316339%2064.7324219%2C44.2675781%20C66.0683661%2C45.6035223%2066.7949213%2C47.4902222%2066.9121094%2C49.9277344%20C66.9707034%2C50.9589895%2067%2C52.8163928%2067%2C55.5%20Z%22%20id%3D%22%EF%85%AD%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E);        
    width: 27px;
    height: 27px;
    top: 8px;
}

#instagram .instagram-likes {
    position: absolute;
    bottom: 20px;
    left: 30px;
}

#instagram .icon-heart {
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2216px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2016%2014%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%20%20%20%20%3Ctitle%3EPath%402x%3C%2Ftitle%3E%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Style-Sheet%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Style-Guide%22%20transform%3D%22translate%28-173.000000%2C%20-11314.000000%29%22%20fill%3D%22%23F2F2F2%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M180.93867%2C11328%20C180.785094%2C11328%20180.655146%2C11327.9453%20180.548824%2C11327.8359%20L175.020108%2C11322.349%20C174.96104%2C11322.3003%20174.879823%2C11322.2214%20174.776455%2C11322.112%20C174.673086%2C11322.0026%20174.509175%2C11321.8036%20174.284718%2C11321.515%20C174.06026%2C11321.2263%20173.859433%2C11320.9301%20173.682229%2C11320.6263%20C173.505026%2C11320.3225%20173.347022%2C11319.9549%20173.208213%2C11319.5234%20C173.069404%2C11319.092%20173%2C11318.6727%20173%2C11318.2656%20C173%2C11316.9288%20173.375075%2C11315.8837%20174.125236%2C11315.1302%20C174.875396%2C11314.3767%20175.91202%2C11314%20177.235139%2C11314%20C177.601359%2C11314%20177.974957%2C11314.0653%20178.355944%2C11314.196%20C178.736931%2C11314.3266%20179.091333%2C11314.5028%20179.419159%2C11314.7246%20C179.746985%2C11314.9464%20180.029029%2C11315.1545%20180.265301%2C11315.349%20C180.501572%2C11315.5434%20180.726026%2C11315.75%20180.93867%2C11315.9688%20C181.151314%2C11315.75%20181.375768%2C11315.5434%20181.612039%2C11315.349%20C181.84831%2C11315.1545%20182.130355%2C11314.9464%20182.458181%2C11314.7246%20C182.786007%2C11314.5028%20183.140408%2C11314.3266%20183.521396%2C11314.196%20C183.902383%2C11314.0653%20184.275981%2C11314%20184.642201%2C11314%20C185.965319%2C11314%20187.001943%2C11314.3767%20187.752104%2C11315.1302%20C188.502265%2C11315.8837%20188.87734%2C11316.9288%20188.87734%2C11318.2656%20C188.87734%2C11319.6085%20188.201024%2C11320.9757%20186.848372%2C11322.3672%20L181.328515%2C11327.8359%20C181.222193%2C11327.9453%20181.092246%2C11328%20180.93867%2C11328%20Z%22%20id%3D%22Path%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E);
    top: 2px;
}

#instagram .instagram-comments {
    position: absolute;
    bottom: 20px;
    left: 105px;
}

#instagram .icon-comments {
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2217px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2017%2014%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%20%20%20%20%3Ctitle%3EPath%402x%3C%2Ftitle%3E%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Style-Sheet%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Style-Guide%22%20transform%3D%22translate%28-258.000000%2C%20-11316.000000%29%22%20fill%3D%22%23F2F2F2%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M274.131923%2C11321.8322%20C274.131923%2C11322.8893%20273.771839%2C11323.8658%20273.051661%2C11324.7619%20C272.331482%2C11325.658%20271.353254%2C11326.3658%20270.116947%2C11326.8852%20C268.88064%2C11327.4046%20267.530325%2C11327.6643%20266.065962%2C11327.6643%20C265.645857%2C11327.6643%20265.210756%2C11327.64%20264.760644%2C11327.5914%20C263.572349%2C11328.6546%20262.192027%2C11329.3897%20260.619637%2C11329.7967%20C260.325564%2C11329.8818%20259.983484%2C11329.9486%20259.593388%2C11329.9972%20C259.491362%2C11330.0093%20259.399841%2C11329.982%20259.318821%2C11329.9152%20C259.237801%2C11329.8484%20259.185288%2C11329.7603%20259.161282%2C11329.6509%20L259.161282%2C11329.6418%20C259.143278%2C11329.6175%20259.141778%2C11329.581%20259.156781%2C11329.5324%20C259.171785%2C11329.4838%20259.177786%2C11329.4535%20259.174786%2C11329.4413%20C259.171785%2C11329.4292%20259.185288%2C11329.4003%20259.215296%2C11329.3547%20L259.269309%2C11329.2727%20C259.27531%2C11329.2636%20259.296315%2C11329.2378%20259.332324%2C11329.1953%20C259.368333%2C11329.1527%20259.392339%2C11329.1254%20259.404342%2C11329.1133%20C259.446352%2C11329.0647%20259.539374%2C11328.9599%20259.683409%2C11328.7989%20C259.827445%2C11328.6379%20259.930969%2C11328.5224%20259.993985%2C11328.4526%20C260.057001%2C11328.3827%20260.150022%2C11328.2627%20260.273053%2C11328.0926%20C260.396083%2C11327.9225%20260.493606%2C11327.7676%20260.565624%2C11327.6279%20C260.637642%2C11327.4881%20260.718661%2C11327.3089%20260.808683%2C11327.0902%20C260.898705%2C11326.8715%20260.976724%2C11326.6407%20261.04274%2C11326.3977%20C260.100506%2C11325.857%20259.357833%2C11325.1887%20258.814698%2C11324.3928%20C258.271563%2C11323.597%20258%2C11322.7434%20258%2C11321.8322%20C258%2C11321.0424%20258.21305%2C11320.2876%20258.639155%2C11319.5676%20C259.065261%2C11318.8477%20259.638395%2C11318.2266%20260.358574%2C11317.7041%20C261.078752%2C11317.1816%20261.936952%2C11316.767%20262.9332%2C11316.4602%20C263.929447%2C11316.1534%20264.973691%2C11316%20266.065962%2C11316%20C267.530325%2C11316%20268.88064%2C11316.2597%20270.116947%2C11316.7791%20C271.353254%2C11317.2986%20272.331482%2C11318.0063%20273.051661%2C11318.9024%20C273.771839%2C11319.7985%20274.131923%2C11320.7751%20274.131923%2C11321.8322%20Z%22%20id%3D%22Path%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E);
    top: 2px;
}

@media screen and (max-width: 480px) {
    .IN-widget {
        display: none !important;
    }
}

/* wordpress */

#wordpress-posts blockquote p {
    margin: 0;
}