---
layout: default_es
permalink: /es/blog
---

<div>

</div>

<div class="posts">

</div>

<!--<div class="main wrapper clearfix div-article-big-aside"> -->
<div class="main wrapper clearfix"> 
	<article>  
		<h1 class="article-image news-icon">Blog</h1>      
		<h2>&Uacute;ltimos posts</h2>
		
	  {% for post in site.posts %}
	  
			<section class="news">                        
				<div class="news-date">					
					
					<span class="news-date-weekday">
					{% assign dy = post.date | date: "%a" %}
					{% case dy %}
					  {% when "Mon" %}Lunes
					  {% when "Tue" %}Martes
					  {% when "Wed" %}Mi&eacute;rcoles
					  {% when "Thu" %}Jueves
					  {% when "Fri" %}Viernes
					  {% when "Sat" %}S&aacute;bado
					  {% when "Sun" %}Domingo
					{% endcase %}
					</span>
					
					<span class="news-date-day">{{ post.date | date: "%-d" }}</span>
					
					<span class="news-date-month">
					{% assign m = post.date | date: "%-m" %}
					{% case m %}
					  {% when '1' %}Enero
					  {% when '2' %}Febrero
					  {% when '3' %}Marzo
					  {% when '4' %}Abril
					  {% when '5' %}Mayo
					  {% when '6' %}Junio
					  {% when '7' %}Julio
					  {% when '8' %}Agosto
					  {% when '9' %}Septiembre
					  {% when '10' %}Octubre
					  {% when '11' %}Noviembre
					  {% when '12' %}Diciembre
					{% endcase %}
					</span>
					
					<span class="news-date-year">{{ post.date | date: "%Y" }}</span>
				</div>
				<div class="news-content">
					<div class="news-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
					<p>{{ post.excerpt }}</p>
					<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
				</div>
			</section>   		
			
	  {% endfor %}
	  
	</article>
	<!--
	<aside id="main-aside">
		<div id="current-info" class="menu" title="Posts">
		  <ul>
		  {% for post in site.posts %}
		  <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
		  {% endfor %}
		  </ul>
		</div>
	</aside>
	
	-->
</div> <!-- #main -->
