---
layout: default_es
permalink: /es/blog
---

<div>

</div>

<div class="posts">

</div>

<!--<div class="main wrapper clearfix div-article-big-aside"> -->
<div class="main wrapper clearfix"> 
	<article>  
		<h1 class="article-image news-icon">Blog</h1>      
		<h2>&Uacute;ltimos posts</h2>
		
	  {% for post in site.posts %}
	  
			<section class="news">                        
				<div class="news-date">
					<span class="news-date-weekday">{{ page.date | date: "%A" }}</span>
					<span class="news-date-day">{{ page.date | date: "%-d" }}</span>
					<span class="news-date-month">{{ page.date | date: "%b" }}</span>
					<span class="news-date-year">{{ page.date | date: "%Y" }}</span>
				</div>
				<div class="news-content">
					<div class="news-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>/div>
					<p>{{ post.excerpt }}</p>
					<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
				</div>
			</section>   		
			
	  {% endfor %}
	  
	</article>
	<!--
	<aside id="main-aside">
		<div id="current-info" class="menu" title="Posts">
		  <ul>
		  {% for post in site.posts %}
		  <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
		  {% endfor %}
		  </ul>
		</div>
	</aside>
	
	-->
</div> <!-- #main -->
